*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(54, 53, 52);
}

.main .container{
    height: 550px;
    width: 350px;
    border: solid 2px rgb(27, 27, 27);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    background-color: rgb(43, 42, 42);
}

.main .container .circle{
    height: 33.3%;
    width: 50%;
    border-radius: 50%;
    border: solid 1px;
    transition: ease-in-out .5s;
}

#yellow{
    background-color: rgba(255, 255, 0, 0.363);
}

#red{
    background-color: rgba(255, 0, 0, 0.418);
}

#green{
    background-color: rgb(2, 236, 2);
    box-shadow: 0 5px 15px 10px rgba(30, 255, 0, 0.52);
}

.btns{
    height: auto;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.btns button{
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    background-color: rgb(0, 132, 255);
    color: white;
}